body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.flashy {
  color: red;
  font-style: italic;
}

.best {
  font-weight: bold;
  color: hotpink;
  font-size: 20px;
}

.plate {
  width: 200px;
}

.small {
  width:200px;
}